// google fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,900&display=swap')

// font families
$ff-sans-serif: 'Barlow', sans-serif 
$ff-serif: 'Fraunces', serif

// font weights
$fw-regular: 600
$fw-serif-bold: 700
$fw-serif-bolder: 900
