@import _root


body
    overflow-x: hidden
    font-family: $ff-sans-serif
    font-size: $fs-paragraph
    font-weight: $fw-sans-serif-regular
    color: $very_dark_grayish_blue

    /* HEADER */
    header
        width: 100vw
        height: 100vh
        background: url('../../public/images/desktop/image-header.jpg') no-repeat bottom center / cover
        h1
            text-transform: uppercase
            font-family: $ff-serif
            font-weight: $fw-serif-bolder
            color: $white
            text-align: center
            font-size: 4rem
            letter-spacing: 1rem
            padding: 5rem
        div img
            margin: 10px 50%
        a
            color: $white
    nav
        display: flex
        justify-content: space-between
        padding: 40px 50px 80px
        ul
            display: flex
            gap: 40px
            li
                list-style: none
                
    main
        display: grid
        
        /* ABOUT */
        section.about,
        section.services
            display: grid
            grid-template-columns: repeat(2, 1fr)
            div
                min-height: 350px
            .text
                padding: 7rem
                margin: auto
                max-width: calc(500px + 14rem)
                p
                    color: $dark_grayish_blue
                    line-height: 26px
                    letter-spacing: 0.02rem
                    padding-bottom: 2rem
                h2
                    color: $very_dark_desaturated_blue
                    font-family: $ff-serif
                    line-height: 3.2rem
                    font-size: 3rem
                    padding-bottom: 2rem
                a
                    font-family: $ff-serif
                    color: $very_dark_desaturated_blue
                    text-transform: uppercase
                    letter-spacing: .04rem
                    font-weight: $fw-serif-bolder
                    font-size: 15px
                    &:hover::before
                        content:''
                        position: absolute
                        margin-left: -8px
                        margin-top: 12px
                        height: 10px
                        width: 130px
                        background-color: $yellow
                        border-radius: 12px
                        z-index: -1       
        section#about .cover
            background: url('../../public/images/desktop/image-transform.jpg') no-repeat center center / cover
            grid-column: 2
            grid-row: 1
        section#about2 
            .cover
                background: url('../../public/images/desktop/image-stand-out.jpg') no-repeat bottom center / cover
            a:hover::before
                    background-color: $red

        /* SERVICES */
        section.services
            .cover:first-child
                background: url('../../public/images/desktop/image-graphic-design.jpg') no-repeat center center / cover
                h2, p
                    color: $graphic_design
            .cover:last-child
                background: url('../../public/images/desktop/image-photography.jpg') no-repeat center center / cover
                h2, p
                    color: $photography
            .text
                text-align: center
                padding: 20rem 7rem 1rem
                h2
                    font-size: 1.8rem
                    line-height: 2rem
                    padding-bottom: 1.4rem
                p
                    max-width: 350px
                    margin: auto
                    font-size: 15px 
        
        /* TESTIMONIALS */
        section.testimonials
            padding: 7rem
            text-align: center
            .wrapper
                display: flex
                flex-wrap: wrap
                gap: 30px
                div
                    max-width: 310px
                    margin: auto
                    padding-top: 3rem
            img
                border-radius: 50%
                width: 80px
                margin-bottom: 3.4rem
            h3
                text-transform: uppercase
                font-family: $ff-serif
                color: $grayish_blue
                letter-spacing: .3rem
            p
                line-height: 26px
                &.client_name
                    font-family: $ff-serif
                    font-weight: $fw-serif-bolder
                    color: $very_dark_desaturated_blue
                    margin-top: 3.4rem
                small
                    color: $grayish_blue

        /* PROJECTS */
        section.gallery
            display: grid
            grid-template-columns: repeat(4, 1fr)
            background-color: #333
            img
                width: 100%
                height: 100%
                transition: .4s
                &:hover
                    opacity: .5

    /* FOOTER */
    footer
        background-color: $foo_bg
        text-align: center
        padding: 4rem
        color: $foo_text
        nav
            display: flex !important
            justify-content: center
        .social_media
            display: flex
            justify-content: center
            gap: 20px
            svg
                fill: #2C7566
                &:hover
                    fill: #fff
        a:hover
            color: $white

@import _responsive